geo_secondary_role['enable'] = true
gitlab_rails['geo_node_name'] = "{{ geo_secondary_site_name }}"

geo_secondary['db_host'] = '{{ geo_tracking_postgres_host }}'
geo_secondary['db_password'] = '{{ geo_tracking_postgres_password }}'
geo_secondary['db_port'] = '{{ geo_tracking_postgres_port }}'

{% if geo_secondary_site_group_name + '_postgres_primary' in groups or postgres_external %}
geo_postgresql['enable'] = false
{% endif %}

geo_secondary['auto_migrate'] = false

{% if 'sidekiq' in group_names or ('gitlab_rails' in group_names and geo_primary_site_group_name + '_sidekiq_primary' not in groups) %}
geo_logcursor['enable'] = true
{% else %}
geo_logcursor['enable'] = false
{% endif %}
